---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import { SEO } from "astro-seo";

const {
  title = "ufobase.wiki | The Best Stories of UFO Encounters",
  description = "Discover the best and most fascinating stories of UFO encounters from around the world. Read, explore, and share incredible UFO sightings and experiences.",
  image = "https://ufobase.wiki/images/og-image.png", // Update this path if needed
  url = "https://ufobase.wiki",
  twitterHandle = "@guillaumeduhan",
  keywords = "UFO stories, UFO encounters, alien encounters, best UFO sightings, unexplained phenomena, extraterrestrial stories, UFO community, share UFO experiences, UFO news, UFO blog"
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- SEO enhancements -->
    <meta name="keywords" content={keywords} />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={url} />
    <meta name="theme-color" content="#0f172a" /> <!-- Example dark color -->

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: image,
          url: url
        }
      }}
      twitter={{
        creator: twitterHandle,
        card: "summary_large_image",
        title: title,
        description: description,
        image: image,
      }}
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "ufobase.wiki",
        "url": "https://ufobase.wiki",
        "description": "Discover the best and most fascinating stories of UFO encounters from around the world. Read, explore, and share incredible UFO sightings and experiences.",
        "publisher": {
          "@type": "Organization",
          "name": "Guillaume Duhan",
          "url": "https://ufobase.wiki"
        }
      }
    </script>
  </head>
  <body>
    <Header />
    <main class="flex pt-16 z-50">
      <Sidebar />
      <section class="lg:pl-64 w-full">
        <div class="max-w-[760px] mx-auto">
          <slot />
        </div>
      </section>
    </main>
  </body>
</html>
